# app specific stuff
.DS_Store

# Development related
bower_components

# SublimeText project files
*.sublime-workspace
*.sublime-project

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#JetBrain Files
.idea